<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config PUBLIC "config" "config.dtd" >

<config>
	<!--系统参数-->
	<param name="EnvironmentName" value="图表生成引擎" client="T" remark="测试环境、生产环境" />
	<param name="AuthorizeActive" value="F" remark="权限验证是否启用" />
	<param name="AppName" value="图表生成引擎" client="T" remark="应用名称" />
	<param name="DataBaseType" value="SqlServer" remark="Oracle,SqlServer,MySql" />
	<param name="TimeOutPage" client="T" value="page/system/login.html" remark="超时页面" />
	<param name="SuperVCode" value="0023" remark="超级验证码" />
	<!--webservice-->
	<param name="WebserviceBaseURI" value="publish/" remark="WebserviceBaseURI" />
	<param name="port" value="8080" remark="port" />
	<param name="baseURI" value="localhost" remark="baseuri" />
	<param name="projectName" value="smart/" remark="tomcat项目名" />
	<param name="doWebServiceHeader" value="T" remark="webservice请求校验header" />
	<!--导出-->
	<param name="export" value="d:/export" remark="" />

	<!--bi数据路径-->
	<param name="chartRootPath" value="root/chartTemplate"/>
	<param name="defaultChartEngine" value="echart"/>
	<param name="defaultChartPartPath" value="chart"/>
	<param name="defaultWidgetPartPath" value="widget"/>
	<param name="defaultThemePartPath" value="theme"/>

	<param name="defaultChartPath" value="default"/>
	<param name="defaultChartSuffix" value="xml"/>
	<!--缓存-->
	<param name="cacheSize" value="10" remark="默认缓存10M"/>

	<param name="fileListenerTime" value="2" remark="默认轮训每5s一次"/>

	<!-- 2.不受权限控制的资源 -->
	<freeVisit>
		<!-- 2.1不受权限控制的资源类型 -->
		<type>.js</type>
		<type>.json</type>
		<type>.css</type>
		<type>.jpg</type>
		<type>.png</type>
		<type>.gif</type>
		<type>.bmp</type>
		<type>.jpeg</type>
		<type>.zip</type>
		<type>.map</type>
		<type>.ttf</type>
		
		<!-- 2.2不受权限控制的页面 -->
		<resource>*/timeout.html</resource>
		<resource>*/login.html</resource>
		<resource>*/index.html</resource>
		
		<!-- 2.3不受权限控制的函数调用 -->
		<call>user/login</call>
		<call>user/logout</call>
		<call>user/getvcade</call>
		
	</freeVisit>

	<!-- 3.角色页面关系 -->
	<limitedVisit>

	</limitedVisit>	

	<!-- 4.虚路径配置 -->
	<virtualPaths>
		<virtualPath path="/" target="page/system/login.html" />
		<virtualPath path="root" target="/designer/" />
		<virtualPath path="data" classname="foundation.persist.DataObject" />
		<virtualPath path="user" classname="foundation.user.User" />
		<virtualPath path="dictionary" classname="foundation.dictionary.DictionaryService" />
		<virtualPath path="report" classname="designer.DesignerConsole" />

	</virtualPaths>
	
	<!-- 6.配置信息加载器列表 -->
	<configLoader>
		<loader name="datasource" classname="foundation.persist.DatasuorceLoader" active="T"/>
		<loader name="task" classname="foundation.schedule.ScheduleJobLoader" active="T"/>
		<loader name="namedSQL" classname="foundation.persist.sql.NamedSQLLoader" active="T"/>
		<loader name="designer" classname="designer.DesignerDefaultLoader" active="T"/>
		<loader name="aggtable" classname="bi.define.AggTableContainer" active="T"/>

	</configLoader>
	
	<!-- 7.数据过滤权限 -->
	<dataFilter>
	</dataFilter>
</config>
